<div class="header">
	<a href="/"><%= image_tag("logo.png") %></a>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="#">로그인</a></li>
		<li><a href="#">회원가입</a></li>
	</ul>
</div>