<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="description" content="Insert Your Site Description" /> 

		<!-- Mobile Specifics -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
    <title>JEJU BlockChain Vote</title>
    <%= csrf_meta_tags %>
  </head>
<body>
	<%= yield %>
</body>
</html>